<h1><%= question.title %></h1>
<% if session[:id] == question.questioner_id %>
  <form action="<%=question.id%>/edit">
    <input type="submit" value="Edit Question"/>
  </form>
  <form action="/questions/<%=question.id%>" method="POST" id="questionform">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete question">
  </form>
<% end %>
<p><%= question.body %></p>
