
<!-- Vote Button -->
<!-- =================================== -->

<div class="sub-container">

  <%= erb :'/components/_q-container', locals: {question: question} %>

  <h2>Answers</h2>
    <!-- Shouldn't see this button if not logged  -->
    <button id="question-page-answer-button" type="submit">Answer this question</button>
    <form class="question-page-answer-form" action="/questions/<%= question.id %>/answers" method="post">
      <label for="body-textarea">Reply:</label>
      <textarea id="body-textarea" name="answer[body]"></textarea>
      <input type="submit" value="Respond">
    </form>

  </br></br>

  <a id="question-comment-link" href="/questions/<%= question.id %>/comments/new">Comment on this question</a>

  </br></br>

  <ul class="question-answers">

    <%= erb :'/components/_as-container', locals: { answers: question.answers } %>

      <!-- MOVED THE ANSWER COMMENTS IN A PARTIAL LINKED WITHIN THE ANSWER PARTIAL OR ELSE THE 'COMMENT ON THIS ANSWER' PERSISTS WHEN ANSWER IS DELETED -->

  </ul>
</div>
