<div class="c-container">
  <p class="c_body"><%= comment.body %></p>
  <span class="c_user"><%= comment.user.username %></span>
  <span class="c_timestamp"><%= long_form_date(comment.timestamp) %></span>
</div>
