<div>
  <a id="answer-comment-link" href="<%= action %>/comments/new">Comment on this answer</a>
  <form class="c-form" action="<%= action %>/comments" method="POST">
    <textarea name="body" placeholder="Enter comment..."></textarea>
    <input type="submit">
  </form>
</div>
