<form id="answer-comment-form" action="/questions/<%= @question.id %>/answers/<%= @answer.id %>/comments" method="POST">
  <textarea rows="3" cols="40" name="body" placeholder="Enter comment..."></textarea>
  <input type="submit">
</form>
