<div class='container'>
   <form action="" method="POST" class='submit_comment'>
     <label for="comment"> Comment: </label>
     <textarea cols='50' rows='5' name="[comment]body" id='body'></textarea>
     <input type="submit" value="Submit Comment">
  </form>
</div>
