/*Home header*/
.title {
  text-align: center;
  border-bottom: 2px solid grey;
}

/*plain text*/
.choose{
  text-align: center;
}

/*category list*/
.category-select > ul {
  list-style: none;
  position: relative;
  left: 46%;
}


/*category show name*/
.category-name {
  text-align: center;
  border-bottom: 2px solid grey;
}

.inline {
  display: inline;
  margin-left: 20px;
}


.question-title {
  border-bottom: 1px solid gray;
}

.question-content {
  margin-left: 20px;
}

.answer {
  border-top: 1px solid gray;
  padding-left: 20px;
}

.answer-user {
  margin-right: 20px;
  text-align: right;
}

.catlist {
  list-style-type: none;
}

.cat {
  background-color: #c5d0e2;
  height: 97%;
  width: 97%;
  padding-top: 1px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.search-form {
  text-align: center;
}
