<div class = container>
   <form class="form-inline" action = "/users/login" method="POST">
     <label for = "username"> Username: </label>
     <input class="form-control" type = "text" name = "[user]username" id = username>
     <label for = "password"> Password: </label>
     <input class="form-control" type = "password" name = "[user]password" id = password>
     <button type="submit" class="btn btn-primary btn-sm">Login </button>
  </form>
</div>
