<div class="sub-container flex-column">

  <h1> Enter New User Information</h1>
  <% if @errors %>
    <% @errors.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <form class="u-form flex-column" action='/users' method="post">
  <div class="u-form-fieldset fieldset">
    <label>Username: </label><br>
    <input type="text" name="user[username]">
  </div>
  <div class="u-form-fieldset fieldset">
    <label>Email: </label><br>
    <input type="text" name="user[email]">
  </div>
  <div class="u-form-fieldset fieldset">
    <label>Password: </label><br>
    <input type="password" name="user[password]">
  </div>
    <input class="submit-buttons" type="submit">
  </form>

</div>