<div class="sub-container flex-column">

  <h1><%= user.username %>'s profile</h1>
  <h2>Questions asked by <%= user.username %>:</h2>

  <% if user.questions %>
    <% user.questions.each do |question| %>
      <p><a class="question-link" href="/questions/#{question.id}"><%= question.title %></a></p>
    <% end %>
  <% end %>

</div>
