<h1><%= @user.username.capitalize %>'s Profile</h1>
<% @questions = [] %>

<div>
	<table>
		<% if @questions.empty? %>
		<tr>
			<th>
				<h2>Got a Question?</h2>
			</th>
		</tr>
		<% else %>
		<tr>
			<th>"Category"</th>
			<th>"Question"</th>
			<th>"Date"</th>
		</tr>

		<% @questions.each do |question| %>
		<tr>
			<td>"category"</td>
			<td>"question"</td>
			<td>"created_at"</td>
		</tr>
		<% end %>
		<% end %>
	</table>
</div>
