<div class='container'>
   <form action="/answers/<%= @answer.id.to_s%>/comments" method="post">
     <label for="comment"> Comment: </label>
     <textarea cols='60' rows='4' name="[comment]body" id='body'></textarea>
     <input type="submit" value="Submit Comment">
  </form>
</div>
