<div class='container'>
   <form action="/answers/<%= @answer.user_id %>/answers" method="POST">
     <label for="answer"> New Answer: </label>
     <textarea cols='60' rows='10' name="[answer]body" id='body'></textarea>
     <input type="submit" value="Submit Changes">
  </form>
</div>
