<h1><%= @category.name %></h1>




<!-- <p> @category.questions </p>-->
<!-- @category.questions.each do |q|  -->
  <!-- <!<li> <a "/category/<'% q.id' %>"> <'%q.title %></a></li>   -->
<!-- <end> -->
