<h1 class="category-name"><%= @category.name %></h1>





<p class=question-header> Questions about (<%= @category.name %>): </p>
<div class=question-select>
  <ul>
    <% @category.questions.each do |q| %>
      <li> <a href="/questions/<%= q.id %>"> <%= q.title %></a></li>
    <% end %>
  </ul>
</div>
