<div class = "container">

<h1 class='title'>SlackOverflow</h1>




<h3 class=choose> Find out more about... </h3> </br>

<div class=category-select>
  <div class = row>
    <% @categories.each do |cat|  %>
      <!-- <li><a href="/category/<%= cat.id %>"><%= cat.name %></a></li> -->
      <a href="/category/<%= cat.id %>" class="btn btn-default col-md-2 col-sm-2 col-xs-4"></span><%= cat.name + " ( " + cat.questions.count.to_s + " )" %></a>
    <% end %>
  </div>
</div>

</br>
<div class="search-form">
  <form action="/search">
    <label for="search"> What's on your mind?: </label>
    <input type="text" name="search" placeholder="Place a search here">
    <input type="submit" value="Search">
  </form>
</div>

</div>
