<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>DBC Overflow</title>
</head>
<body>
  <nav class="main-nav flex-row">
    <h3 class="nav-header font-mdlg">DBC Overflow</h3>
    <ul class="main-nav-ul flex-row font-md">
      <a href="#" class="main-nav-link"><li class="main-nav-li flex-row"><span>Register</span></li></a>
      <a href="#" class="main-nav-link"><li class="main-nav-li flex-row"><span>Login</span></li></a>
      <a href="#" class="main-nav-link"><li class="main-nav-li flex-row"><span>Home</span></li></a>
    </ul>
  </nav>

  <header role="banner" class="mar-t-5 pad-t-2 pad-b-4 pad-s-1 wrap-float bg-white">
    <div class="max-w-700 center wrap float">
      <nav class="clearfix mar-b-1">
        <ul class="no-bullets no-margin no-padding right">
          <li class="pipe-separate left"><a href="/">Home</a></li>
            <% if session[:id] %>
          <li class="pipe-separate left"><a href="/users/<%= session[:id] %>">Profile</a></li>
          <li class="pipe-separate left"><a href="/users/logout">Logout</a></li>
            <% else %>
          <li class="pipe-separate left"><a href="/users/login">Login</a></li>
          <li class="pipe-separate left"><a href="/users/new">Register</a></li>
            <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <%= yield %>
</body>
</html>
